:root {
    --light_goose_cream: #e8ddc0;
    --dark_brown_goose: #5f5145;
    --light_goose_tan: #bfb299;
    --goose_black: #2d2a29;
    --medium_goose_brown: #756c5f;
  }

.title-text{
    font-family: 'Times New Roman', Times, serif;
}

.image{
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

#activate-goose-btn {
    background-color: var(--light_goose_tan);
    border-color: var(--dark_brown_goose);
    border: 2px solid var(--dark_brown_goose);
  }

#deactivate-goose-btn {
    background-color: var(--medium_goose_brown);
    border-color: var(--dark_brown_goose);
    border: 2px solid var(--dark_brown_goose);
}